body {
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace; /* Retro feel */
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
